.venv/
__pycache__/
conda.datamining/
.data_analysis/
data_analysis/
.Rproj.user
.idea/
.anaconda_projects/
.ipynb_checkpoints/
.virtual_documents/
Tarea2/anaconda_projects/db/project_filebrowser.db
.Rhistory/
.Rhistory
